@if (Convert.ToInt32(Session["RoleId"]) == 3)

{
    <li class="dropdown" data-admin-menu>
        <a href="#">
            Admin
            <span class="glyphicon glyphicon-chevron-down"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li class="dropdown-header">Management</li>
            <li class="divider" />
            <li><a href="/Sipl/NetUserView/RegisterUser">&nbsp;&nbsp;Registration Page</a></li>
            <li><a href="/Sipl/Admin/SearchView/SearchView">&nbsp;&nbsp;Search Page</a></li>
            <li><a href="/Sipl/Admin/Subject/GetSubject">&nbsp;&nbsp;Manage Subjects</a></li>
            <li><a href="/Sipl/Admin/Course/GetCourse">&nbsp;&nbsp;Manage Courses</a></li>
            <li><a href="/Sipl/Admin/TeacherInfo/UserSearchView">&nbsp;&nbsp;Manage Users(Teachers/Students)</a></li>


        </ul>
    </li>
}
