@{
    ViewBag.Title = "LoggedIn";
}
<h2>Holla!! Admin</h2>
<fieldset>
    <legend>
        <text>
            @if (Session["Email"] != null)
            {
                <text>
                    Welcome!!!!! @Session["Email"].ToString()
                </text>
            }
        </text>
    </legend>
</fieldset>

