@{
    ViewBag.Title = "Registered User";
}
<h2>   Thankyou For Registration !!!</h2>
<div>
    @if (Session["FirstName"] != null)
    {
        <text>
            Thankyou For Registration !!!  @Session["FirstName"].ToString()
        </text>
    }

</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value=" LogIn To Continue" class="btn btn-success"
               onclick="window.location.href='@Url.Action("LogIn", "LogIn")'" />
    </div>
</div>


