

@{
    ViewBag.Title = "Registered User";
}


<h2>Registered User</h2>
<fieldset>
    <legend>
        <text>
            @if (Session["FirstName"] != null)
            {
                <text>

                    Thankyou For Registration !!!  @Session["FirstName"].ToString()
                </text>
            }
        </text>
    </legend>
</fieldset>
