@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    67, PU-4 Commercial, Behind C21 Mall,
    Scheme 54 PU4, Indore, Madhya Pradesh 452001<br />
    Agra Bombay Rd, Commercial Behind C-21 Mall,<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:hrSupport@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Systematix@example.com">Marketing@example.com</a>
</address>