@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SIPL College </h1>
    <p class="lead">Hakuna Matata</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About us</h2>
        <p>
            Sipl College gives you a powerful, patterns-based way to build dynamic Future that
            enables a clean separation of concepts and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Gallery</h2>
        <p>Sipl ongoing Events and pictures.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Addmissions</h2>
        <p>You can easily find registration Form  that offers the way to aplly for College .</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>